
        body {
            margin: 0;
            font-family: 'Helvetica Neue', sans-serif;
            background-color: gray;
        }

        header {
            background-color: #222;
            color: #fff;
            padding: 0.75rem 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.1rem;
            letter-spacing: 0.05rem;
            text-transform: uppercase;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        header h1 {
            margin: 0;
            font-weight: 400;
        }
        main {
            display: grid;
            grid-template-columns: .1fr .1fr 1fr .1fr;
            margin-top: 20px;
        }
        hr {
            width: 100%;
            grid-column: 1 / 5;
        }
        h2 {
            grid-column: 2/3;
        }
        /* Chile Flag Styles */
        #blue {
            background: blue;
            grid-column: 1 / 2;
            display: grid;
            align-items: center;
            justify-items: center;
        }

        #white {
            background: white;
            grid-column: 2 / 4;
        }

        #red {
            background: red;
            grid-column: 1 / 4;
        }

        #chile {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            height: 200px;
            width: 300px;
        }

        .star {
            width: 70px;
            aspect-ratio: 1;
            background: white;
            clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
        }

        /* Denmark Flag Styles */
        #denmark{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            height: 200px;
            width: 300px;
            grid-gap:25px; 
            background-color:white;
        }
        #dred1{
            background: red;
            grid-column:1/2;
        }
        #dred2{
            background: red;
            grid-column:2/4;
        }
        #dred3{
            background: red;
            grid-column:1/2;
        }
        #dred4{
            background: red;
            grid-column:2/4;
        }
        /* Finland Flag Styles */
        #finland{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            height: 200px;
            width: 300px;
            grid-gap:30px; 
            background-color:blue;
        }
        #fwhite1{
            background: white;
            grid-column:1/2;
        }
        #fwhite2{
            background: white;
            grid-column:2/4;
        }
        #fwhite3{
            background:white;
            grid-column:1/2;
        }
        #fwhite4{
            background:white;
            grid-column:2/4;
        }

         /* Benin Flag Styles */
        #benin{
            display: grid;
            grid-template-columns: 1.3fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            height: 200px;
            width: 300px;
        }
        #bgreen{
            background: green;
            grid-column:1/2;
            grid-row:1/3;
        }
        #byellow{
            background: yellow;
            grid-column:2/4;
            grid-row:1/2
        }
        #bred{
            background: red;
            grid-column:2/4;
            grid-row:2/3;
        }

        /* Italy Flag Styles */
        #italy{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            height: 200px;
            width: 300px;
        }
        #igreen{
            background: green;
            grid-column:1/2;
            grid-row:1/3;
        }
        #iwhite{
            background: white;
            grid-column:2/3;
            grid-row:1/3;
        }
        #ired{
            background: red;
            grid-column:3/4;
            grid-row:1/3;
        }
        /* C.A.R Flag Styles */
        #car{
            display: grid;
            grid-template-columns: 2fr 1fr 2fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            height: 200px;
            width: 300px;
        }
        #cblue{
            background:darkblue;
            grid-column:1/4;
            grid-row:1/2;
            display: grid;
            grid-template-columns: 2fr 1fr 2fr;
            align-items: center;
            justify-items: center;
        }
        #cwhite{
            background:white;
            grid-column:1/4;
            grid-row:2/3;
        }
        #cgreen{
            background:green;
            grid-column:1/4;
            grid-row:3/4;
        }
        #cyellow{
            background:yellow;
            grid-column:1/4;
            grid-row:4/5;
        }
        #cred{
            background:red;
            grid-column:2/3;
            grid-row:1/5;
        }
        .cstar {
            width: 65px;
            aspect-ratio: 1;
            background: yellow;
            clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
        }



    
    