* {
            margin: 0;
}

body{
    background: rgb(120, 96, 64);
}

#wrapper{
    width:400px;
    height: 600px;
    background: #ffffff;
    border: 10px solid #004E63;
    border-radius:20px;
    justify-items: center;
    margin:auto;
    margin-top: 20px;
}
#formContainer{
    text-align: center;
}
#heading{
    background-image: url(../images/jesus_feeds_5000.png);
    height:165px;
    width:400px;
    background-repeat:no-repeat;
    border-top-left-radius:9px;
    border-top-right-radius:9px;
}
#htext{
    color:white;
    align-items: center;
    padding-top: 90px;
    text-shadow: 0px 0px 50px black;
}
h3{
    text-align: center;
    margin-top: 15px;
}
#myForm{
    margin:15px;
}
#forminfo{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    margin-bottom: 15px;
}
.labels{
    text-align: left;
}
.gendero{
    padding-right: 65px;
}
.checks{
    margin: 25px;
}
#scriptures{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-column-gap:5px;
    margin-top: 20px;
}
.s_img{
    width:100%;
    height:auto;
}
#edge1{
    border-bottom-left-radius: 9px;
}
#edge2{
    border-bottom-right-radius: 9px;
}

#closeBtn{
    float:left;
    margin-top:-200px;
}


